<div class="techList">
  <!-- NavBar -->
  <div class="techList__container">
    <div class="techList__container__heading">
      <!-- Title -->
      <span class="title"> Nuestros <span class="green">Proyectos</span> </span>
      <!-- subtitle -->
      <span class="subtitle"
        >Desarrollos en tecnologias Front-End, Back-End y Mobile</span
      >
    </div>
    <div class="techList__container__content">
      <div class="box">
        <div class="box__header">
          <div class="searchBar">
            <fa-icon class="searchBar__icon" [icon]="searchIcon"></fa-icon>
            <input
              #input
              type="text"
              class="searchBar__field"
              placeholder="Buscar..."
              (keyup)="onKey(input.value)"
            />
          </div>
          <div class="nameFilter">
            <span *ngIf="mobile">Ordenado:</span>
            <span>
              {{ order.text }}
              <fa-icon
                class="chevron"
                [icon]="order.icon"
                (click)="toggleOrder()"
              ></fa-icon
            ></span>
          </div>
        </div>
        <div class="list">
          <!-- Candidate -->
          <app-list-item
            *ngFor="
              let candidate of candidates | searchPipe: searchText:order.text
            "
            [candidate]="candidate"
          ></app-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
