<div [ngClass]="{ shadow: true, show: isMenuOpen }"></div>
<nav
  [ngClass]="{
    navbar: true,
    sticky: isSticky ? true : false,
    fill: isMenuOpen ? true : false
  }"
  (scroll)="onScroll($event)"
  role="banner"
>
  <div class="header" tabindex="0" aria-controls="menu">
    <!-- Logo -->
    <a class="header__logo" [routerLink]="['/home']">
      <img
        id="wolox__logo"
        src="../../../assets/logo_full_color.svg"
        alt="Wolox Logo"
      />
    </a>

    <!-- Menu -->
    <div
      [ngClass]="{ mobile: true, cancel: isMenuOpen ? true : false }"
      *ngIf="mobile"
      (click)="toggleMenu()"
    >
      <span class="mobile__bar"></span>
      <span class="mobile__bar"></span>
      <span class="mobile__bar"></span>
    </div>
    <ul
      id="menu"
      [ngClass]="{
        header__menu__list: true,
        open: isMenuOpen ? true : false
      }"
      role="menubar"
    >
      <li
        role="none"
        class="item"
        *ngFor="let tab of tabs"
        id="{{ tab.id }}"
        (click)="toggleMenu()"
      >
        <a
          role="menuitem"
          [ngClass]="{ item__link: true, active: tab.active ? true : false }"
          routerLink="{{ tab.routerLink }}"
          fragment="{{ tab.fragment }}"
          *ngIf="!tab.button"
          (click)="activeTab(tab.id)"
          >{{ tab.text }}</a
        >
        <button
          class="item__button"
          routerLink="{{ tab.routerLink }}"
          *ngIf="tab.button"
          (click)="toggleMenu()"
        >
          <a
            tabindex="-1"
            class="item__button__link"
            routerLink="{{ tab.routerLink }}"
            fragment="{{ tab.fragment }}"
            (click)="toggleMenu()"
            >{{ tab.text }}</a
          >
          <div class="item__button__arrow">
            <fa-icon class="icon" [icon]="arrowIcon"></fa-icon>
          </div>
        </button>
      </li>
    </ul>
  </div>
</nav>
