<div [ngClass]="{ shadow: isMenuOpen }"></div>
<nav
  [ngClass]="{
    navbar: true,
    sticky: isSticky ? true : false,
    fill: isMenuOpen ? true : false
  }"
  (scroll)="onScroll($event)"
>
  <div class="header">
    <!-- Logo -->
    <a class="header__logo" [routerLink]="['/home']">
      <img src="../../../assets/logo_full_color.svg" alt="Wolox Logo" />
    </a>

    <!-- Menu -->
    <div
      [ngClass]="{ mobile: true, cancel: isMenuOpen ? true : false }"
      *ngIf="mobile"
      (click)="toggleMenu()"
    >
      <span class="mobile__bar"></span>
      <span class="mobile__bar"></span>
      <span class="mobile__bar"></span>
    </div>
    <ul
      [ngClass]="{
        header__menu__list: true,
        open: isMenuOpen ? true : false
      }"
    >
      <li
        class="item"
        *ngFor="let tab of tabs"
        id="{{ tab.id }}"
        (click)="toggleMenu()"
      >
        <a
          [ngClass]="{ item__link: true, active: tab.active ? true : false }"
          routerLink="{{ tab.routerLink }}"
          fragment="{{ tab.fragment }}"
          *ngIf="!tab.button"
          (click)="activeTab(tab.id)"
          >{{ tab.text }}</a
        >
        <div class="item__button" *ngIf="tab.button" (click)="toggleMenu()">
          <a
            class="item__button__link"
            routerLink="{{ tab.routerLink }}"
            fragment="{{ tab.fragment }}"
            (click)="toggleMenu()"
            >{{ tab.text }}</a
          >
          <div class="item__button__arrow">
            <fa-icon class="icon" [icon]="arrowIcon"></fa-icon>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
