<div class="footerr">
  <div class="footerr__container">
    <div class="footerr__container__content">
      <div class="heading">
        <span class="heading__title"
          >Gracias por
          <span class="lightblue">completar el ejercicio</span></span
        >
        <span class="heading__subtitle"
          >Te invitamos a ver mas informacion</span
        >
        <div class="heading__button" (click)="navigateToWolox()">
          <a class="heading__button__link">Conocer mas</a>
        </div>
      </div>

      <div class="logo">
        <img
          class="logo__image"
          src="../../../assets/Ic_Wolox_Footer.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
