<nav class="navbar">
  <div class="header">
    <!-- Logo -->
    <img
      src="../../../assets/logo_full_color.svg"
      alt="Wolox Logo"
      class="header__logo"
    />
    <!-- Menu -->
    <div class="header__menu">
      <ul class="header__menu__list">
        <li
          class="item"
          *ngFor="let tab of tabs; trackBy: trackById"
          id="{{ tab.id }}"
        >
          <a
            [ngClass]="{ item__link: true, active: tab.active ? true : false }"
            routerLink="{{ tab.routerLink }}"
            fragment="{{ tab.fragment }}"
            *ngIf="!tab.button"
            (click)="activeTab(tab.id)"
            >{{ tab.text }}</a
          >
          <div class="item__button" *ngIf="tab.button">
            <a
              class="item__button__link"
              routerLink="{{ tab.routerLink }}"
              fragment="{{ tab.fragment }}"
              >{{ tab.text }}</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
