@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  transition: all 0.5s;
  z-index: 99;
}

.header {
  @include container;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__logo {
    max-width: 200px;
    object-fit: contain;
    align-self: center;
  }
  &__menu {
    height: 100%;
    &__list {
      justify-self: flex-end;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .item {
      list-style: none;
      padding-left: 50px;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      &__link {
        color: #121212;
        &:hover {
          font-weight: 700;
        }
      }
      &__button {
        @include unfilled-button;
        &__link {
          color: $lightblue;
          mix-blend-mode: difference;
        }
        &::before {
          transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          content: "";
          width: 0%;
          height: 100%;
          border-radius: 50px;
          background: $lightblue;
          color: white;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:hover {
          &::before {
            background: $lightblue;
            width: 100%;
            opacity: 0.2;
            border-radius: 50px;
          }
        }
      }
    }
  }
}
