<div class="showcase">
  <!-- Title -->
  <div class="showcase__container">
    <div class="showcase__container__content">
      <h2 class="title">
        Bienvenido a tu
        <br />
        <strong class="title__bold">Entrevista Tecnica</strong>
        en
        <br />
        <strong class="green">Wolox</strong>
      </h2>
    </div>
    <!-- Illustration -->
    <img
      src="../../../assets/Img Hero/Ic_ilustra_Hero@2x.png"
      alt="Hero Image"
      class="showcase__container__image rotate"
    />
  </div>
</div>
