@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.showcase {
  @include section-separation;
  &__container {
    @include two-column-grid(2, 3rem);
    &__content {
      font-size: 28px;
      margin-bottom: 20vh;
      &__title {
        @include montserrat-style;
        &__bold {
          font-weight: 700;
          &__green {
            color: $green;
          }
        }
      }
    }
    &__image {
      max-width: 75%;
      object-fit: contain;
      margin-left: 50px;
    }
  }
}
.rotate {
  @include rotate-vector;
}
