<div class="showcase">
  <!-- Title -->
  <div class="showcase__container" tabindex="0">
    <div class="showcase__container__content">
      <h2
        id="main__title"
        data-aos="fade-up"
        data-aos-once="true"
        data-aos-duration="800"
        class="title"
      >
        Bienvenido a tu
        <strong class="title__bold">Entrevista Tecnica</strong>
        en
        <strong class="green">Wolox</strong>
      </h2>
    </div>
    <!-- Illustration -->
    <img
      src="../../../assets/Img Hero/Ic_ilustra_Hero@2x.png"
      alt=""
      class="showcase__container__image rotate"
      aria-hidden="true"
    />
  </div>
</div>
