<div class="home">
  <!-- Hero -->
  <section class="hero" id="hero">
    <app-showcase></app-showcase>
  </section>
  <!-- Technologies -->
  <section class="technologies" id="technologies">
    <!-- Title -->
    <div class="technologies__container">
      <div class="technologies__container__content">
        <h2
          class="title"
          data-aos="fade-right"
          data-aos-once="true"
          data-aos-duration="1000"
          data-aos-offset="100"
        >
          Estamos buscando para incorporar gente increible para estas
          tecnologias:
        </h2>
      </div>
      <!-- Illustration -->
      <img
        data-aos="fade-left"
        data-aos-once="true"
        data-aos-duration="1000"
        data-aos-offset="100"
        src="../../../assets/Ic_Tecnologys.svg"
        alt="Hero Image"
        class="technologies__container__image"
      />
    </div>
  </section>
  <!-- Woloxer -->
  <section class="woloxer" id="woloxer">
    <div class="woloxer__container">
      <div
        class="woloxer__container__image"
        data-aos="fade-right"
        data-aos-once="true"
        data-aos-duration="1000"
        data-aos-offset="100"
      >
        <div class="content">
          <div class="content__title">
            <span
              class="green"
              data-aos="fade-up"
              data-aos-once="true"
              data-aos-duration="600"
              data-aos-delay="900"
              >350 +</span
            ><span
              class="lightblue"
              data-aos="fade-up"
              data-aos-once="true"
              data-aos-duration="600"
              data-aos-delay="1200"
            >
              Woloxers</span
            >
          </div>
          <div class="content__media">
            <div class="twitter">
              <fa-icon
                class="twitter__icon"
                [icon]="twitterIcon"
                data-aos="fade-up"
                data-aos-once="true"
                data-aos-duration="400"
                data-aos-delay="1600"
              ></fa-icon>
              <span
                data-aos="fade-up"
                data-aos-once="true"
                data-aos-duration="400"
                data-aos-delay="1600"
                >@Wolox</span
              >
            </div>
            <div
              class="button"
              data-aos="fade-bottom"
              data-aos-once="true"
              data-aos-duration="400"
              data-aos-delay="1600"
              (click)="navigateToTwitter()"
            >
              <a
                class="button__link"
                data-aos="fade-bottom"
                data-aos-once="true"
                data-aos-duration="400"
                data-aos-delay="1600"
                >Siguenos</a
              >
              <div class="button__arrow">
                <fa-icon class="icon" [icon]="arrowIcon"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="woloxer__container__text"
        data-aos="fade-left"
        data-aos-once="true"
        data-aos-duration="1000"
        data-aos-offset="100"
      >
        <span class="title">
          Trabajamos para
          <strong class="lightblue">convertir</strong>
          <strong class="green"> ideas</strong>
          en productos.
        </span>
      </div>
    </div>
  </section>
  <!-- Benefits -->
  <section class="benefits" id="benefits">
    <div class="benefits__container">
      <div class="benefits__container__content">
        <span
          class="title"
          data-aos="fade-up"
          data-aos-once="true"
          data-aos-duration="600"
          data-aos-offset="100"
          >Entre los beneficios que ofrecemos se encuentran
          <span class="lightblue">;)</span></span
        >
        <div class="list">
          <div
            data-aos="fade-up"
            data-aos-once="true"
            data-aos-duration="400"
            data-aos-delay="600"
            data-aos-offset="100"
            class="list__item"
            *ngFor="let benefit of benefits; trackBy: trackById"
            id="{{ benefit.id }}"
          >
            <div class="list__item__content">
              <div class="vector">
                <img src="{{ benefit.image }}" alt="" />
              </div>
              <span class="text">
                {{ benefit.title }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Requeriments -->
  <section class="requiriments" id="requiriments">
    <!-- Title -->
    <div class="requiriments__container">
      <div class="content">
        <h2
          class="content__title"
          data-aos="fade-right"
          data-aos-once="true"
          data-aos-duration="1000"
          data-aos-offset="100"
        >
          Requerimientos
        </h2>
      </div>
      <!-- List -->
      <div class="list">
        <ul
          class="list__items"
          data-aos="fade-left"
          data-aos-once="true"
          data-aos-duration="1000"
          data-aos-offset="100"
        >
          <li
            class="list__items__item"
            *ngFor="let requiriment of requiriments"
            id="{{ requiriment.id }}"
          >
            <span class="image"
              ><img src="{{ requiriment.image }}" alt="" /></span
            ><span>{{ requiriment.text }}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
