<div class="home">
  <!-- Hero -->
  <app-header></app-header>
  <section class="hero" id="hero">
    <app-showcase></app-showcase>
  </section>
  <section class="tech" id="technologies">
    <div class="technologies">
      <!-- Title -->
      <div class="technologies__container">
        <div class="technologies__container__content">
          <h2 class="technologies__container__content__title">
            Estamos buscando para incorporar gente increible para estas
            tecnologias:
          </h2>
        </div>
        <!-- Illustration -->
        <img
          src="../../../assets/Ic_Tecnologys.svg"
          alt="Hero Image"
          class="technologies__container__image"
        />
      </div>
    </div>
  </section>
  <!-- Technologies -->
  <!-- Woloxer -->
  <!-- Benefits -->
  <!-- Requeriments -->
  <!-- Footer -->
</div>
