<section class="footer" role="contentinfo" aria-label="Final de la pagina">
  <div class="footer__container" tabindex="0">
    <div class="footer__container__content">
      <div class="heading">
        <h3 class="heading__title">
          Gracias por <span class="lightblue">completar el ejercicio</span>
        </h3>
        <h4 class="heading__subtitle">Te invitamos a ver mas información</h4>
        <button class="heading__button" (click)="navigateToWolox()">
          <a class="heading__button__link">Conocer más</a>
          <div class="heading__button__arrow">
            <fa-icon class="icon" [icon]="arrowIcon"></fa-icon>
          </div>
        </button>
      </div>

      <div>
        <img class="logo" src="../../../assets/Ic_Wolox_Footer.svg" alt="" />
      </div>
    </div>
  </div>
</section>
