@mixin fira-sans {
  font-family: "Fira Sans", sans-serif;
}
@mixin montserrat {
  font-family: "Monserrat", sans-serif;
}
@mixin two-column-grid($first, $second, $gap) {
  display: grid;
  grid-template-columns: $first $second;
  column-gap: $gap;
  align-items: center;
  justify-content: center;
}
@mixin rotate-vector {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

@mixin section-separation {
  padding: 15vh 0 0 0;
}

@mixin montserrat-style {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.4;
}
@mixin container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

@mixin unfilled-button {
  position: relative;
  background-color: transparent;
  border: solid 1px;
  border-color: $lightblue;
  border-radius: 50px;
  padding: 10px 80px !important;
  font-size: 14px;
  letter-spacing: 0.02em;
  z-index: 0;
}
